logs
.vs
*.csproj.user
*.cache
bin
obj
StreamingVideoDevice\bin
StreamingVideoDevice\obj
VideoApi\bin
VideoApi\obj
VideoViewer\bin
VideoViewer\obj
/src/Wowza/conf/LicenseDomainCache.properties
/src/Wowza/conf/admin.password
/src/Wowza/conf/jmxremote.password
/src/Wowza/conf/publish.password
