@page
@model VideoViewer.Pages.LiveModel
@{
    ViewData["Title"] = "Live";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<style>
    video {
        width: 640px;
        height: 360px;
    }
</style>
<div>
    <video data-dashjs-player autoplay src="http://localhost:1935/live/myStream/manifest.mpd" controls></video>
</div>

